In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# macOS 기본 한글 폰트 설정 (AppleSDGothicNeo 등)
plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지

path = '/Users/yniyunj/Desktop/교육공공데이터/데이터/005-안전/'

In [13]:
df_edu = pd.read_csv(path + '005-1-안전교육현황/2024년도_안전교육 계획 및 실시현황(초)_전체.csv', encoding = 'utf-8')
df_check = pd.read_csv(path + '005-2 시설안전점검현황/2024년도_시설안전 점검 현황(초)_전체.csv', encoding = 'utf-8')
df_accident = pd.read_csv(path + '시도청별 월별 어린이보호구역내 어린이 교통사고_20231231_dataorkr.csv', encoding = 'cp949')

In [14]:
for i in df_edu.columns:
    print(i)

df_edu.head(3)

시도교육청
교육지원청
지역
정보공시 학교코드
학교명
학교급코드
설립구분
제외여부
제외사유
전체학급수
전체학생수
생활안전교육 시간(단위활동차시)-1학기
생활안전교육 시간(단위활동차시)-2학기
생활안전교육 시간(단위활동차시)-합계
교통안전교육 시간(단위활동차시)-1학기
교통안전교육 시간(단위활동차시)-2학기
교통안전교육 시간(단위활동차시)-합계
폭력예방및신변보호교육 시간(단위활동차시)-1학기
폭력예방및신변보호교육 시간(단위활동차시)-2학기
폭력예방및신변보호교육 시간(단위활동차시)-합계
약물중독예방교육 시간(단위활동차시) - 1학기 (2020년 이후)
약물중독예방교육 시간(단위활동차시) - 2학기 (2020년 이후)
약물중독예방교육 시간(단위활동차시) - 합계 (2020년 이후)
지능정보서비스과의존관련교육 시간(단위활동차시) - 1학기 (2023년 이후)
지능정보서비스과의존관련교육 시간(단위활동차시) - 2학기 (2023년 이후)
지능정보서비스과의존관련교육 시간(단위활동차시) - 합계 (2023년 이후)
재난안전교육 시간(단위활동차시)-1학기
재난안전교육 시간(단위활동차시)-2학기
재난안전교육 시간(단위활동차시)-합계
직업안전교육 시간(단위활동차시)-1학기
직업안전교육 시간(단위활동차시)-2학기
직업안전교육 시간(단위활동차시)-합계
응급처치교육 시간(단위활동차시)-1학기
응급처치교육 시간(단위활동차시)-2학기
응급처치교육 시간(단위활동차시)-합계

,시도교육청,교육지원청,지역,정보공시 학교코드,학교명,학교급코드,설립구분,제외여부,제외사유,전체학급수,...,지능정보서비스과의존관련교육 시간(단위활동차시) - 합계 (2023년 이후),재난안전교육 시간(단위활동차시)-1학기,재난안전교육 시간(단위활동차시)-2학기,재난안전교육 시간(단위활동차시)-합계,직업안전교육 시간(단위활동차시)-1학기,직업안전교육 시간(단위활동차시)-2학기,직업안전교육 시간(단위활동차시)-합계,응급처치교육 시간(단위활동차시)-1학기,응급처치교육 시간(단위활동차시)-2학기,응급처치교육 시간(단위활동차시)-합계
0,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 서초구,S000003511,서울교육대학교부설초등학교,2,국립,N,NaN,27,...,4.0,3.0,3.0,6.0,1.0,1.0,2.0,1.0,1.0,2.0
1,서울특별시교육청,서울특별시중부교육지원청,서울특별시 종로구,S000003563,서울대학교사범대학부설초등학교,2,국립,N,NaN,30,...,4.0,5.0,4.0,9.0,2.0,2.0,4.0,1.0,1.0,2.0
2,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000737,서울개원초등학교,2,공립,N,NaN,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df_check.head(3)

,시도교육청,교육지원청,지역,정보공시 학교코드,학교명,학교급코드,설립구분,제외여부,제외사유,최종점검일자,대장명,관리유무,비고
0,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 서초구,S000003511,서울교육대학교부설초등학교,2,국립,N,NaN,20231231.0,학교시설안전 점검표,O,NaN
1,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 서초구,S000003511,서울교육대학교부설초등학교,2,국립,N,NaN,20231231.0,물탱크(저수조)위생 점검표,O,NaN
2,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 서초구,S000003511,서울교육대학교부설초등학교,2,국립,N,NaN,20231231.0,소방 안전점검표,O,NaN

In [17]:
for i in df_accident.columns:
    print(i)

df_accident.head(3)

구분
1월
2월
3월
4월
5월
6월
7월
8월
9월
10월
11월
12월

   구분  1월  2월  3월  4월  5월  6월  7월  8월  9월  10월  11월  12월
0  서울   4   5   6  11   7   7   9   6   6   11    3    7
1  부산   2   0   6   2   3   2   2   2   4    4    4    3
2  대구   1   4   2   3   2   2   2   1   0    2    1    2